.about{
	padding-top: 80px;
	padding-bottom: 100px;
	padding-right: 20px;
	padding-left: 20px;
}
.about__title{
	font-size: 48px;
	font-weight: normal;
	letter-spacing: -0.02em;
	line-height: normal;
	color: $text-dark;

	display: block;
	margin-bottom: 24px;
}
.about p{
	font-family: $roboto;

	margin: 0;
	margin-bottom: 40px;
}
.about p:last-of-type{
	margin-bottom: 0;
}

@media (min-width: $tablet-width) {
	.about{
		width: 714px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media (min-width: $desktop-width) {
	.about{
		width: 773px;
		margin-right: auto;
		margin-left: auto;
		padding-right: 0;
		padding-left: 0;
	}
}