@include font-face("roboto", "../fonts/RobotoRegular/RobotoRegular");

@include font-face("gilroy", "../fonts/GilroyRegular/GilroyRegular");
@include font-face("gilroy", "../fonts/GilroyBold/GilroyBold", bold);

@include font-face("dinpro", "../fonts/DINProRegular/DINProRegular");

body {
	min-width: 320px;
	margin: 0px;
	padding: 0px;

	font-family: $dinpro;
	font-size: 16px;
	font-style: normal;
	line-height: 26px;
	color: $text;
}
.container {
	width: 280px;
	padding: 0 20px;
	margin: 0 auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: no-wrap;
	clip-path: inset(100%);
	overflow: hidden;
}

.error{
	display: none;
}

// От 768px планшетная версия
@media (min-width: 768px) {
	.container {
		width: 640px;
		padding: 0 64px;
	}
}

// От 1200px десктопная версия
@media (min-width: 1200px) {
	.container {
		width: auto;
		padding: 0 120px;
	}
}