$tablet-width: 768px;
$desktop-width: 1200px;
$bg: #f7f5fa;
$text: #4e4d53;
$text-dark: #222222;
$accent: #f47821;

$roboto: 'roboto', Arial, sans-serif;
$gilroy: 'gilroy', Arial, sans-serif;
$dinpro: 'dinpro', Arial, sans-serif;